* {
    box-sizing: border-box;
}



body {
    color: var(--text-color);
    font-family: var(--body-font);
    background-color: var(--body-bg);
    overflow-x: hidden;
    min-height: 200vh;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    color: var(--accent-color-alt);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display-font);
    font-weight: var(--semi-bold-font);
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}