/*card*/
.card {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    padding: 2rem;
    overflow: hidden;
    max-width: 976px;
}

.card--cpu {
    background-image: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%);
}

.card__title {
    font-size: 3rem;
    font-weight: bold;
    color: #C48CFC;

}

.card__subtitle {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    line-height: 1.1;
}

.card__description {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 600;
    letter-spacing: .012em;
}

.card__btn {
    width: 170px;
    height: 50px;
    padding: 5px 5px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;

}

.wrapper-img-card {
    position: relative;
    height: 300px;
}

.wrapper-img-card img {
    position: absolute;
    height: 350px;
    right: -141px;
    top: 48px;
}


@media screen and (min-width: 375px) {
    .card {
        width: 90%;
        border-radius: 20px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        display: flex;
        justify-content: space-between;
    }

    .wrapper-img-card img {
        right: -254px;
        top: 67px;

    }

    .card__description {
        width: 80%;
        font-size: 15px;
        line-height: 1.4211;
        font-weight: 600;
        letter-spacing: .012em;
    }

    .card__btn {
        width: 200px;
    }

}

@media screen and (min-width: 1024px) {
    .wrapper-img-card img {
        right: -36px;
        top: 67px;

    }

    .card__description {
        width: 65%;
    }

    .card__btn {
        width: 226px;
        font-size: 10px;
        padding: 0;
    }

}