.why-mac-wrapper-description {
    color: #A1A1A6;
    max-width: 640px;
    padding-top: 8rem;
    margin: 0 auto;
}

.why-mac-wrapper-description__img {
    width: 7rem;
}

.why-mac-wrapper-description__title {
    font-size: 3rem;
    font-family: var(--display-font);
    font-weight: bold;
    color: white;
}

.why-mac-wrapper-description__info {
    font-size: 21px;
    width: 100%;
}

/*video classes*/

.wrapper-video {
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.wrapper-video video {
    position: absolute;
    width: 49rem;
    left: 50%;
    transform: translateX(-50%);
}

/*video classes end*/

@media screen and (min-width: 768px) {
    .why-mac-wrapper-description__title {

        font-size: 4.1rem;
    }

    .why-mac-wrapper-description__info {
        font-size: 24px;

    }

    /*video classes*/

    .wrapper-video {
        height: 30rem;
    }

    .wrapper-video video {
        width: 55rem;
    }


    /*video classes end*/
}

@media screen and (min-width: 768px) {

    /*video classes*/
    .wrapper-video {
        height: 35rem;
    }

    .wrapper-video video {
        width: 60rem;
    }

    /*video classes end*/
}